.form {
  border: 1px solid rgb(0, 209, 178);
  padding-block: 2rem;
  min-width: 34rem;
}

.field:not(.is-horizontal) .field-label {
  text-align: left;
}

.control.has-icons-left,
.control.has-icons-right {
  color: rgb(0, 209, 178);
}

.title-input__field {
  flex-grow: 1;
}

.allottedTime-input__field {
  width: 8rem;
}

.drag-scroll {
  overflow-x: auto;
  width: 100%;
  margin-top: 1.5rem;
  scrollbar-width: none;
}

.drag-scroll::-webkit-scrollbar {
  display: none;
}

.dragged-items {
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
  margin: auto;
  width: min-content;
}

.day-switch {
  font-size: 1rem;
  font-weight: bold;
  border-right: 2px solid hsl(221, 14%, 14%);
  padding-inline: 1.5rem;
}

.day-switch:last-child {
  border-right: none;
}

.slider-content {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-loaded {
  opacity: 1;
}

/* Media Query for tablet device */
@media screen and (max-width: 600px) {
  .form {
    width: 100%;
    min-width: auto;
  }
}