@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.overflow-scroll {
  overflow-x: scroll;
}

/* Cells */

.it-is-today {
  background-color: rgba(15, 116, 111, 0.932) !important;
  color: rgb(21, 224, 214) !important; 
}

/* Task Priority */

.less-qty-tasks {
  background-color: rgba(133, 255, 245, 0.2); 
  border-radius: 5px; 
  padding: 3px 36px; 
}

.medium-qty-tasks {
  background-color: rgba(240, 255, 146, 0.2); 
  border-radius: 5px; 
  padding: 3px 36px; 
}

.high-qty-tasks {
  background-color: rgba(255, 0, 0, 0.2); 
  border-radius: 5px; 
  padding: 3px 36px; 
}

.tabs-container {
  margin-bottom: 20px;
  width: 40%;
  margin-left:auto;
  margin-right:auto;
}
@media only screen and (max-width: 768px) {
  .tabs-container {
    width: 100%;
  }
}
.active {
  color:var(--bulma-primary) !important;
  border-bottom-color:var(--bulma-primary) !important;
}

.about-section-container > div > p {
  margin-bottom: 10px;
}

.about-section-container > div > h3 {
  margin-top: 6px;
  margin-bottom: 6px;
}

.task-done {
  background-color: rgba(51, 177, 173, 0.339) !important;
  color: rgb(11, 154, 127) !important;
}

/* Form */
.form {
  border: 1px solid rgb(0, 209, 178);
  padding: 2rem;
  margin-inline: 1rem;
}

.field:not(.is-horizontal) .field-label {
  text-align: left;
}

.control.has-icons-left .input:focus~.icon,
.control.has-icons-right .input:focus~.icon {
  color: rgb(0, 209, 178);
}

.title-input__field {
  flex-grow: 1;
}

.allottedTime-input__field {
  width: 8rem;
}

/* Modal */
.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
}

.modal-overlay.open {
  opacity: 1;
}

.form-modal-card {
  border: 1px solid rgb(0, 209, 178);
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  background-color: #14161a;
  min-width: 34.4rem;
  max-height: 36.5rem;
  overflow-y: auto;
}

.subtitle.modal-span {
  margin-block: 0;
  margin-right: 1rem;
}

.modal-sub {
  margin-block: 1rem !important;
}

@media screen and (max-width: 600px) {
  .form-modal-card {
    width: 88%;
    min-width: auto;
  }
}

@media screen and (max-width: 390px) {
  .form-modal-card {
    padding-inline: 1.5rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 209, 178);
  transition: background-color 1s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 172, 146);
}